body {
    margin: 0;
    /* background-color: #abadb9; */
    background-color: #dfe9f4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#title {
    background-image: url(../imgs/tips.JPG);
    /*background-position: right bottom,;*/
    background-repeat: no-repeat;
    background-size: 100%;
}
#title h1 {
    height: 0px;
    margin: 0;
    padding: 0;
    color: black;
    /*font-family: arial;*/
    font-size: 48px;
    width: 100%;
    text-align: center;
}
#page-title h1 {
    color: black;
    /*font-family: arial;*/
    font-size: 48px;
    width: 100%;
    text-align: center;
}
#main {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.xkcd{
    padding-top: 30px;
}
ul {
    padding-left: 20px;
}
