body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

img.xkcd{
  padding-top: 30px;
}
div.intro { 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
}
div.intro > div.intro-text {
  max-width: 20em;
  margin: 1em;
}
div.intro > div.intro-img > img {
  max-width: 20em;
  margin: 1em;
}
div.link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.link-container > div.link-box {
  width: 20em;
  margin: 1em;
  border: 1px solid black;
}
